.navButton {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #666;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-family: "arial black";
    font-size: 15px;
    border: 1.3px;
    border-style: solid;
    border-color: #fff;
}

body#home a#homeNavButton,body#stats a#statsNavButton,body#schedule a#scheduleNavButton,body#rules a#rulesNavButton {
    color: #fff;
    background: #930;
}

.navButton:hover {
    background-color: #375099;
}

.navButtons {
    float: right;
    width: 60%;
    position: relative;
    padding-top: 5%;
}

.homeButton {
    float: left;
    width: 40%;
    position: relative;
    top: 0;
    left: 0;
}

.navDiv {
    width: 100%;
    height: 120px;
    margin: 0 auto;
    position: relative;
}

p {
    font-size: 30px;
    text-align: center;
    color: #fff;
}

h3 {
    font-family: arial;
}

nav {
    position: relative;
    width: 80%;
    background-color: 50565c;
    left: 10%;
}

375099
img {
    opacity: .85;
}

body {
    backgroundopacity: .5;
    background: url(../img/Background3.png);
    background-color: dddddd;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 80%;
    width: 100%;
    margin: 0;
    padding: 0;
}

li {
    font-size: 16px;
    list-style-type: none;
}

ul {
    font-size: 12px;
    color: #000;
}

.chart {
    font: 11px sans-serif;
    text-align: left;
    padding: 2px;
    margin: 1px;
    font-weight: 700;
    background-color: rgba(85,85,85,0.6);
}

.scoreboard {
    font: 10px sans-serif;
    text-align: left;
    padding: 2px;
    margin: 1px;
    font-weight: 700;
    background-color: rgba(85,85,85,0.9);
}

.left {
    position: relative;
    width: 45%;
    height: 100%;
    background-color: rgba(85,85,85,0.75);
    float: left;
    color: #fff;
    padding-left: 5%;
    padding-right: 5%;
    font-family: "arial";
    font-size: 18px;
    opacity: 20%;
    overflow: hidden;
    left: 10%;
}

.right {
    position: relative;
    width: 20%;
    height: 100%;
    float: right;
    right: 10%;
    background-color: rgba(54,96,146,.6);
    color: #fff;
    padding-left: 2.5%;
    padding-right: 2.5%;
    font-size: 15px;
}

.playerDark {
    background-color: 50565c;
    color: #fff;
    font-size: 13px;
    border: 1px;
    border-style: solid;
    border-color: rgba(85,85,85,0.6);
}

.playerLight {
    background-color: dddddd;
    color: #000;
    font-size: 13px;
    border: 1px;
    border-style: solid;
    border-color: rgba(85,85,85,0.6);
}

#clockDiv {
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

#clockDiv > div {
    padding: 10px;
    border-radius: 3px;
    display: inline-block;
    background-color: rgba(255,255,255,.3);
}

#clockDiv div > span {
    padding: 15px;
    border-radius: 3px;
    display: inline-block;
}

.smalltext {
    padding-top: 5px;
    font-size: 16px;
}

.xDark {
    float: left;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    font-family: arial;
    font-size: 18px;
    text-align: right;
    width: 35%;
}

.xLight {
    float: right;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    font-family: arial;
    font-size: 18px;
    width: 35%;
}

.home {
    width: 75%;
    position: inline;
    background-color: rgba(255,255,255,0.9);
    color: 50565c;
    font-size: 15px;
    padding-left: 1%;
    border-radius: 4px;
}

.time {
    width: 75%;
    position: inline;
    background-color: rgba(54,96,146,0.9);
    color: dddddd;
    font-size: 20px;
    padding-left: 1%;
    border-radius: 4px;
}

.popup-div {
    display: none;
    position: absolute;
    padding: 1.5rem;
    box-shadow: 0 1px 2px #aaa;
    background: #fff;
    margin: -240px 0 0 -240px;
    border-radius: 3px;
    user-select: none;
    width: 480px;
    height: 480px;
    top: 50%;
    left: 50%;
}

#stats-header {
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    border-radius: 10px;
}

#stats-row {
    background-color: rgba(255,255,255,0.8);
    color: #000;
    border-radius: 10px;
}
